################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/CommonTest/bin/Debug/Common.Controls.dll
/CommonTest/bin/Debug/Common.Libraries.dll
/CommonTest/bin/Debug/CommonTest.exe
/CommonTest/bin/Debug/CommonTest.pdb
/CommonTest/bin/Debug/CommonTest.vshost.exe
/CommonTest/bin/Debug/CommonTest.vshost.exe.manifest
/CommonTest/bin/x86/Debug/Common.Controls.dll
/CommonTest/bin/x86/Debug/Common.Libraries.dll
/CommonTest/bin/x86/Debug/CommonTest.exe
/CommonTest/bin/x86/Debug/CommonTest.pdb
/CommonTest/bin/x86/Debug/CommonTest.vshost.exe
/CommonTest/bin/x86/Debug/CommonTest.vshost.exe.manifest
/CShorpStudy.Control/bin/Debug/CShorpStudy.Control.exe
/CShorpStudy.Control/bin/Debug/CShorpStudy.Control.pdb
/CShorpStudy.Control/bin/Debug/CShorpStudy.Control.vshost.exe
/CShorpStudy.Control/bin/Debug/CShorpStudy.Control.vshost.exe.manifest
/CshorpStudy.WindowsControl/bin/Debug/CshorpStudy.WindowsControl.exe
/CshorpStudy.WindowsControl/bin/Debug/CshorpStudy.WindowsControl.pdb
/CshorpStudy.WindowsControl/bin/Debug/CshorpStudy.WindowsControl.vshost.exe
/CshorpStudy.WindowsControl/bin/Debug/CshorpStudy.WindowsControl.vshost.exe.manifest
/CshorpStudy.WinForm/bin/Debug/CshorpStudy.WinForm.exe
/CshorpStudy.WinForm/bin/Debug/CshorpStudy.WinForm.exe.config
/CshorpStudy.WinForm/bin/Debug/CshorpStudy.WinForm.pdb
/CshorpStudy.WinForm/bin/Debug/CshorpStudy.WinForm.vshost.exe
/CshorpStudy.WinForm/bin/Debug/CshorpStudy.WinForm.vshost.exe.config
/CshorpStudy.WinForm/bin/Debug/CshorpStudy.WinForm.vshost.exe.manifest
/CshorpStudy/bin/Debug/Common.Controls.dll
/CshorpStudy/bin/Debug/CshorpStudy.vshost.exe.manifest
/Drawing/bin/Debug/CshorpStudy.Drawing.exe
/Drawing/bin/Debug/CshorpStudy.Drawing.exe.config
/Drawing/bin/Debug/CshorpStudy.Drawing.pdb
/Drawing/bin/Debug/Drawing.exe
/Drawing/bin/Debug/Drawing.exe.config
/Drawing/bin/Debug/Drawing.pdb
/Drawing/bin/Debug/Drawing.vshost.exe
/Drawing/bin/Debug/Drawing.vshost.exe.config
/Drawing/bin/Debug/Drawing.vshost.exe.manifest
/Drawing/bin/Debug/黄枢.bmp
/Drawing/obj/Debug/Drawing.csprojResolveAssemblyReference.cache
/CommonTest/obj/Debug/CommonTest.csproj.FileListAbsolute.txt
/CommonTest/obj/Debug/CommonTest.csproj.GenerateResource.Cache
/CommonTest/obj/Debug/CommonTest.csprojResolveAssemblyReference.cache
/CommonTest/obj/Debug/CommonTest.exe
/CommonTest/obj/Debug/CommonTest.Form1.resources
/CommonTest/obj/Debug/CommonTest.pdb
/CommonTest/obj/Debug/CommonTest.Properties.Resources.resources
/CommonTest/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/CommonTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CommonTest/obj/x86/Debug/CommonTest.csproj.FileListAbsolute.txt
/CommonTest/obj/x86/Debug/CommonTest.csproj.GenerateResource.Cache
/CommonTest/obj/x86/Debug/CommonTest.csprojResolveAssemblyReference.cache
/CommonTest/obj/x86/Debug/CommonTest.exe
/CommonTest/obj/x86/Debug/CommonTest.Form1.resources
/CommonTest/obj/x86/Debug/CommonTest.pdb
/CommonTest/obj/x86/Debug/CommonTest.Properties.Resources.resources
/CommonTest/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CshorpStudy.Common.Controls/obj/Debug/Controls.csproj.FileListAbsolute.txt
/CshorpStudy.Common.Controls/obj/Debug/Controls.csprojResolveAssemblyReference.cache
/CshorpStudy.Common.Controls/obj/Debug/Controls.dll
/CshorpStudy.Common.Controls/obj/Debug/Controls.pdb
/CshorpStudy.Common.Controls/obj/Debug/CshorpStudy.Common.Controls.csproj.FileListAbsolute.txt
/CshorpStudy.Common.Controls/obj/Debug/CshorpStudy.Common.Controls.csprojResolveAssemblyReference.cache
/CshorpStudy.Common.Controls/obj/Debug/CshorpStudy.Common.Controls.dll
/CshorpStudy.Common.Controls/obj/Debug/CshorpStudy.Common.Controls.pdb
/CshorpStudy.Common.Controls/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/CshorpStudy.Common.Controls/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CshorpStudy.Common.Controls/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/CshorpStudy.Common.Controls/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/CshorpStudy.Common.Controls/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/CShorpStudy.Control/obj/Debug/CShorpStudy.Control.csproj.FileListAbsolute.txt
/CShorpStudy.Control/obj/Debug/CShorpStudy.Control.csprojResolveAssemblyReference.cache
/CShorpStudy.Control/obj/Debug/CShorpStudy.Control.exe
/CShorpStudy.Control/obj/Debug/CShorpStudy.Control.pdb
/CShorpStudy.Control/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CshorpStudy.WindowsControl/obj/Debug/CshorpStudy.WindowsControl.csproj.FileListAbsolute.txt
/CshorpStudy.WindowsControl/obj/Debug/CshorpStudy.WindowsControl.csprojResolveAssemblyReference.cache
/CshorpStudy.WindowsControl/obj/Debug/CshorpStudy.WindowsControl.exe
/CshorpStudy.WindowsControl/obj/Debug/CshorpStudy.WindowsControl.pdb
/CshorpStudy.WindowsControl/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CshorpStudy.WinForm/obj/Debug/CshorpStudy.WinForm.csproj.FileListAbsolute.txt
/CshorpStudy.WinForm/obj/Debug/CshorpStudy.WinForm.csproj.GenerateResource.Cache
/CshorpStudy.WinForm/obj/Debug/CshorpStudy.WinForm.csprojResolveAssemblyReference.cache
/CshorpStudy.WinForm/obj/Debug/CshorpStudy.WinForm.exe
/CshorpStudy.WinForm/obj/Debug/CshorpStudy.WinForm.Form1.resources
/CshorpStudy.WinForm/obj/Debug/CshorpStudy.WinForm.pdb
/CshorpStudy.WinForm/obj/Debug/CshorpStudy.WinForm.Properties.Resources.resources
/CshorpStudy.WinForm/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/CshorpStudy.WinForm/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CshorpStudy.WinForm/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/CshorpStudy.WinForm/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/CshorpStudy.WinForm/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/CshorpStudy.WinForm/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/CshorpStudy/obj/x86/Debug/CshorpStudy.csproj.FileListAbsolute.txt
/CshorpStudy/obj/x86/Debug/CshorpStudy.csproj.GenerateResource.Cache
/CshorpStudy/obj/x86/Debug/CshorpStudy.csprojResolveAssemblyReference.cache
/CshorpStudy/obj/x86/Debug/CshorpStudy.Drawing.Form1.resources
/CshorpStudy/obj/x86/Debug/CshorpStudy.exe
/CshorpStudy/obj/x86/Debug/CshorpStudy.pdb
/CshorpStudy/obj/x86/Debug/CshorpStudy.Properties.Resources.resources
/CshorpStudy/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/CshorpStudy/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CshorpStudy/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
/Drawing/obj/Debug/CshorpStudy.Drawing.csproj.FileListAbsolute.txt
/Drawing/obj/Debug/CshorpStudy.Drawing.csproj.GenerateResource.Cache
/Drawing/obj/Debug/CshorpStudy.Drawing.csprojResolveAssemblyReference.cache
/Drawing/obj/Debug/CshorpStudy.Drawing.exe
/Drawing/obj/Debug/CshorpStudy.Drawing.Form1.resources
/Drawing/obj/Debug/CshorpStudy.Drawing.pdb
/Drawing/obj/Debug/CshorpStudy.Drawing.Properties.Resources.resources
/Drawing/obj/Debug/CshorpStudy.Drawing.画图基础.resources
/Drawing/obj/Debug/CshorpStudy.Drawing.画图基础2.resources
/Drawing/obj/Debug/CshorpStudy.Drawing.画图基础3.resources
/Drawing/obj/Debug/CshorpStudy.Drawing.图片像素颜色变化.resources
/Drawing/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Drawing/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Drawing/obj/Debug/Drawing.csproj.FileListAbsolute.txt
/Drawing/obj/Debug/Drawing.csproj.GenerateResource.Cache
/Drawing/obj/Debug/Drawing.exe
/Drawing/obj/Debug/Drawing.Form1.resources
/Drawing/obj/Debug/Drawing.pdb
/Drawing/obj/Debug/Drawing.Properties.Resources.resources
/Drawing/obj/Debug/Drawing.画图基础.resources
/Drawing/obj/Debug/Drawing.画图基础2.resources
/Drawing/obj/Debug/Drawing.画图基础3.resources
/Drawing/obj/Debug/Drawing.图片像素颜色变化.resources
/Drawing/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Drawing/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Drawing/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Drawing/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/Debug/CshorpStudy.pdb
/Debug/CshorpStudy.Common.Controls.dll
/Debug/CshorpStudy.Common.Controls.pdb
/Debug/CshorpStudy.exe
/Debug/CshorpStudy.exe.config
/Debug/CshorpStudy.vshost.exe
/Debug/CshorpStudy.vshost.exe.config
/Debug/CshorpStudy.vshost.exe.manifest
/Debug/Microsoft.QualityTools.Testing.Fakes.dll
/Debug/MySql.Data.dll
/WinStopwatch/WinStopwatch/bin/Debug/WinStopwatch.vshost.exe.manifest
/WinStopwatch/WinStopwatch/bin/Debug/WinStopwatch.vshost.exe
/WinStopwatch/WinStopwatch/bin/Debug/WinStopwatch.pdb
/WinStopwatch/WinStopwatch/bin/Debug/WinStopwatch.exe
/WinStopwatch/WinStopwatch/bin/Debug/Log4Emrs.pdb
/WinStopwatch/WinStopwatch/bin/Debug/Log4Emrs.dll.config
/WinStopwatch/WinStopwatch/bin/Debug/Log4Emrs.dll
/WinStopwatch/WinStopwatch/bin/Debug/Log.txt
/UnderstandAsyncAwait/WinformAsyncAwait/bin/Debug/WinformAsyncAwait.vshost.exe.manifest
/UnderstandAsyncAwait/WinformAsyncAwait/bin/Debug/WinformAsyncAwait.vshost.exe.config
/UnderstandAsyncAwait/WinformAsyncAwait/bin/Debug/WinformAsyncAwait.vshost.exe
/UnderstandAsyncAwait/WinformAsyncAwait/bin/Debug/WinformAsyncAwait.pdb
/UnderstandAsyncAwait/WinformAsyncAwait/bin/Debug/WinformAsyncAwait.exe.config
/UnderstandAsyncAwait/WinformAsyncAwait/bin/Debug/WinformAsyncAwait.exe
/UnderstandAsyncAwait/UnderstandAsyncAwait/bin/Debug/UnderstandAsyncAwait.vshost.exe.manifest
/UnderstandAsyncAwait/UnderstandAsyncAwait/bin/Debug/UnderstandAsyncAwait.vshost.exe.config
/UnderstandAsyncAwait/UnderstandAsyncAwait/bin/Debug/UnderstandAsyncAwait.vshost.exe
/UnderstandAsyncAwait/UnderstandAsyncAwait/bin/Debug/UnderstandAsyncAwait.pdb
/UnderstandAsyncAwait/UnderstandAsyncAwait/bin/Debug/UnderstandAsyncAwait.exe.config
/UnderstandAsyncAwait/UnderstandAsyncAwait/bin/Debug/UnderstandAsyncAwait.exe
/Log4Emrs/bin/Debug/Log4Emrs.pdb
/Log4Emrs/bin/Debug/Log4Emrs.dll.config
/Log4Emrs/bin/Debug/Log4Emrs.dll
/DropDownPanel/bin/Release/DropDownPanel.pdb
/DropDownPanel/bin/Release/DropDownPanel.dll
/DropDownPanel/bin/Debug/DropDownPanel.pdb
/DropDownPanel/bin/Debug/DropDownPanel.dll
/Demo/bin/Release/DropDownPanel.pdb
/Demo/bin/Release/DropDownPanel.dll
/Demo/bin/Release/Demo.vshost.exe.manifest
/Demo/bin/Release/Demo.vshost.exe
/Demo/bin/Release/Demo.pdb
/Demo/bin/Release/Demo.exe
/Demo/bin/Debug/DropDownPanel.pdb
/Demo/bin/Debug/DropDownPanel.dll
/Demo/bin/Debug/Demo.vshost.exe.manifest
/Demo/bin/Debug/Demo.vshost.exe
/Demo/bin/Debug/Demo.pdb
/Demo/bin/Debug/Demo.exe
/CshorpStudy.WinForm/bin/Release/CshorpStudy.WinForm.vshost.exe.manifest
/CshorpStudy.WinForm/bin/Release/CshorpStudy.WinForm.vshost.exe.config
/CshorpStudy.WinForm/bin/Release/CshorpStudy.WinForm.vshost.exe
/CshorpStudy.WinForm/bin/Release/CshorpStudy.WinForm.exe.config
/CshorpStudy.WinForm/bin/Debug/DropDownPanel.pdb
/CshorpStudy.WinForm/bin/Debug/DropDownPanel.dll
/CshorpStudy.WinForm/bin/Debug/Common.Ribbon.dll
/CshorpStudy.WinForm/bin/Debug/Common.Libraries.pdb
/CshorpStudy.WinForm/bin/Debug/Common.Libraries.dll
/CshorpStudy.Test/bin/Debug/CshorpStudy.Test.pdb
/CshorpStudy.Test/bin/Debug/CshorpStudy.Test.dll
/CshorpStudy.Test/bin/Debug/Common.Libraries.pdb
/CshorpStudy.Test/bin/Debug/Common.Libraries.dll
/WinStopwatch/WinStopwatch/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
/WinStopwatch/WinStopwatch/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/WinStopwatch/WinStopwatch/obj/Release/build.force
/WinStopwatch/WinStopwatch/obj/Debug/WinStopwatch.Properties.Resources.resources
/WinStopwatch/WinStopwatch/obj/Debug/WinStopwatch.pdb
/WinStopwatch/WinStopwatch/obj/Debug/WinStopwatch.Form1.resources
/WinStopwatch/WinStopwatch/obj/Debug/WinStopwatch.exe
/WinStopwatch/WinStopwatch/obj/Debug/WinStopwatch.csprojResolveAssemblyReference.cache
/WinStopwatch/WinStopwatch/obj/Debug/WinStopwatch.csproj.GenerateResource.Cache
/WinStopwatch/WinStopwatch/obj/Debug/WinStopwatch.csproj.FileListAbsolute.txt
/WinStopwatch/WinStopwatch/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/WinStopwatch/WinStopwatch/obj/Debug/ResolveAssemblyReference.cache
/WinStopwatch/WinStopwatch/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WinStopwatch/WinStopwatch/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/UnderstandAsyncAwait/WinformAsyncAwait/obj/Debug/WinformAsyncAwait.Properties.Resources.resources
/UnderstandAsyncAwait/WinformAsyncAwait/obj/Debug/WinformAsyncAwait.pdb
/UnderstandAsyncAwait/WinformAsyncAwait/obj/Debug/WinformAsyncAwait.Form1.resources
/UnderstandAsyncAwait/WinformAsyncAwait/obj/Debug/WinformAsyncAwait.exe
/UnderstandAsyncAwait/WinformAsyncAwait/obj/Debug/WinformAsyncAwait.csprojResolveAssemblyReference.cache
/UnderstandAsyncAwait/WinformAsyncAwait/obj/Debug/WinformAsyncAwait.csproj.GenerateResource.Cache
/UnderstandAsyncAwait/WinformAsyncAwait/obj/Debug/WinformAsyncAwait.csproj.FileListAbsolute.txt
/UnderstandAsyncAwait/WinformAsyncAwait/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/UnderstandAsyncAwait/WinformAsyncAwait/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/UnderstandAsyncAwait/WinformAsyncAwait/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/UnderstandAsyncAwait/WinformAsyncAwait/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/UnderstandAsyncAwait/WinformAsyncAwait/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/UnderstandAsyncAwait/UnderstandAsyncAwait/obj/Debug/UnderstandAsyncAwait.pdb
/UnderstandAsyncAwait/UnderstandAsyncAwait/obj/Debug/UnderstandAsyncAwait.exe
/UnderstandAsyncAwait/UnderstandAsyncAwait/obj/Debug/UnderstandAsyncAwait.csprojResolveAssemblyReference.cache
/UnderstandAsyncAwait/UnderstandAsyncAwait/obj/Debug/UnderstandAsyncAwait.csproj.FileListAbsolute.txt
/UnderstandAsyncAwait/UnderstandAsyncAwait/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/UnderstandAsyncAwait/UnderstandAsyncAwait/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/UnderstandAsyncAwait/UnderstandAsyncAwait/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/UnderstandAsyncAwait/UnderstandAsyncAwait/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Log4Emrs/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Log4Emrs/obj/Debug/Log4Emrs.pdb
/Log4Emrs/obj/Debug/Log4Emrs.dll
/Log4Emrs/obj/Debug/Log4Emrs.csproj.FileListAbsolute.txt
/Log4Emrs/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DropDownPanel/obj/Release/YongFa365.Controls.ComboBoxTree.DropDownForm.resources
/DropDownPanel/obj/Release/DropDownPanel.pdb
/DropDownPanel/obj/Release/DropDownPanel.dll
/DropDownPanel/obj/Release/DropDownPanel.csproj.GenerateResource.Cache
/DropDownPanel/obj/Release/DropDownPanel.csproj.FileListAbsolute.txt
/DropDownPanel/obj/Debug/YongFa365.Controls.ComboBoxTree.DropDownForm.resources
/DropDownPanel/obj/Debug/DropDownPanel.pdb
/DropDownPanel/obj/Debug/DropDownPanel.dll
/DropDownPanel/obj/Debug/DropDownPanel.csproj.GenerateResource.Cache
/DropDownPanel/obj/Debug/DropDownPanel.csproj.FileListAbsolute.txt
/DropDownPanel/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Drawing/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
/Drawing/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Drawing/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Drawing/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Drawing/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Demo/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
/Demo/obj/Release/ResolveAssemblyReference.cache
/Demo/obj/Release/Demo.Properties.Resources.resources
/Demo/obj/Release/Demo.pdb
/Demo/obj/Release/Demo.Form1.resources
/Demo/obj/Release/Demo.exe
/Demo/obj/Release/Demo.csproj.GenerateResource.Cache
/Demo/obj/Release/Demo.csproj.FileListAbsolute.txt
/Demo/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/Demo/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Demo/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Demo/obj/Debug/Demo.Properties.Resources.resources
/Demo/obj/Debug/Demo.pdb
/Demo/obj/Debug/Demo.Form1.resources
/Demo/obj/Debug/Demo.exe
/Demo/obj/Debug/Demo.csprojResolveAssemblyReference.cache
/Demo/obj/Debug/Demo.csproj.GenerateResource.Cache
/Demo/obj/Debug/Demo.csproj.FileListAbsolute.txt
/CshorpStudy.WinForm/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
/CshorpStudy.WinForm/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/CshorpStudy.WinForm/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/CshorpStudy.WinForm/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/CshorpStudy.WinForm/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/CshorpStudy.WinForm/obj/Release/CshorpStudy.WinForm.csproj.FileListAbsolute.txt
/CshorpStudy.WinForm/obj/Debug/CshorpStudy.WinForm.RibbonUse.resources
/CshorpStudy.WinForm/obj/Debug/CshorpStudy.WinForm.RibbonControl.resources
/CshorpStudy.WinForm/obj/Debug/CshorpStudy.WinForm.Grid代码实现.resources
/CshorpStudy.WindowsControl/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/CshorpStudy.Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CshorpStudy.Test/obj/Debug/CshorpStudy.Test.pdb
/CshorpStudy.Test/obj/Debug/CshorpStudy.Test.dll
/CshorpStudy.Test/obj/Debug/CshorpStudy.Test.csprojResolveAssemblyReference.cache
/CshorpStudy.Test/obj/Debug/CshorpStudy.Test.csproj.FileListAbsolute.txt
/CShorpStudy.Control/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/CshorpStudy.Common.Controls/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/CshorpStudy/obj/x86/Release/TempPE/Properties.Resources.Designer.cs.dll
/CshorpStudy/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/CshorpStudy/obj/x86/Release/build.force
/CommonTest/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/CommonTest/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/WinStopwatch/Debug/WinStopwatch.vshost.exe
/WinStopwatch/Debug/WinStopwatch.pdb
/WinStopwatch/Debug/WinStopwatch.exe
/WinStopwatch/Debug/Log4Emrs.pdb
/WinStopwatch/Debug/Log4Emrs.dll
/WinStopwatch/Debug/Log.txt
/Debug/WinStopwatch.pdb
/Debug/WinStopwatch.exe
/Debug/Log4Emrs.pdb
/Debug/Log4Emrs.dll.config
/Debug/Log4Emrs.dll
/UnderstandAsyncAwait/UnderstandAsyncAwait.v12.suo
*.suo
