<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <!--<add name="SqlString" providerName="System.Data.SqlClient" connectionString="Server=192.168.1.211; Database=callsys; Uid=sa; Pwd=Ss123456" />-->
    <add name="SqlString" providerName="System.Data.SqlClient" connectionString="Server=10.10.77.48; Database=smartclient48; Uid=basiclevel; Pwd=hie" />
  </connectionStrings>

</configuration>
